# Ignore everything
/*

# Un-ignore the directories that contain useful files
# Note: we just want to add the paths, not the contents,
#  so for each directory we un-ignore, we re-ignore its contents
!/etc
/etc/*
!/etc/default
/etc/default/*
!/etc/lxc
/etc/lxc/*
!/etc/apache2
/etc/apache2/*
!/usr
/usr/*
!/usr/lib
/usr/lib/*
!/usr/lib/python2.7
/usr/lib/python2.7/*
!/usr/lib/python2.7/dist-packages
/usr/lib/python2.7/dist-packages/*
!/usr/lib/python2.7/dist-packages/buildbot
/usr/lib/python2.7/dist-packages/buildbot/*
!/var
/var/*
!/var/lib
/var/lib/*
!/var/lib/buildbot
/var/lib/buildbot/*
!/var/lib/buildbot/masters
/var/lib/buildbot/masters/*
!/var/lib/buildbot/masters/buildmaster
/var/lib/buildbot/masters/buildmaster/*
!/var/lib/buildbot/masters/buildmaster/openxt
/var/lib/buildbot/masters/buildmaster/openxt/*
!/var/lib/buildbot/masters/buildmaster/legacy
/var/lib/buildbot/masters/buildmaster/legacy/*
!/var/lib/buildbot/masters/buildmaster/windows
/var/lib/buildbot/masters/buildmaster/windows/*
!/var/lib/buildbot/slaves
/var/lib/buildbot/slaves/*
!/home
/home/*
!/home/shared
/home/shared/*
!/home/lxc
/home/lxc/*
!/home/lxc/legacy-oe
/home/lxc/legacy-oe/*
!/home/lxc/legacy-oe/rootfs
/home/lxc/legacy-oe/rootfs/*
!/home/lxc/legacy-oe/rootfs/home
/home/lxc/legacy-oe/rootfs/home/*
!/home/lxc/legacy-oe/rootfs/home/buildbot
/home/lxc/legacy-oe/rootfs/home/buildbot/*
!/home/lxc/legacy-oe/rootfs/home/buildbot/legacy
/home/lxc/legacy-oe/rootfs/home/buildbot/legacy/*

# Un-ignore the files/directories we want
!/.gitignore
!/etc/hosts
!/etc/default/*
!/etc/lxc/*
!/etc/apache2/*
!/usr/lib/python2.7/dist-packages/buildbot/*
!/var/lib/buildbot/masters/*
!/var/lib/buildbot/slaves/*
!/home/shared/*
!/home/lxc/legacy-oe/rootfs/home/buildbot/legacy/*
!/var/lib/buildbot/masters/buildmaster/openxt/500
!/var/lib/buildbot/masters/buildmaster/legacy/300
!/var/lib/buildbot/masters/buildmaster/windows/400

# Re-ignore the files/directories we don't want
*~
*.log
*.log.*
*.pid
*sqlite*
gitpoller-work*
*.iso
oracle*
.htpasswd
/var/lib/buildbot/slaves/openxt1/openxt/build/openxt
/var/lib/buildbot/slaves/openxt2/openxt/build/openxt
/home/lxc/legacy-oe/rootfs/home/buildbot/legacy/legacy/build/certs
/home/lxc/legacy-oe/rootfs/home/buildbot/legacy/legacy/build/git
/home/lxc/legacy-oe/rootfs/home/buildbot/legacy/legacy/build/last_build
/home/lxc/legacy-oe/rootfs/home/buildbot/legacy/legacy/build/build
